Button {
	font-family: "Open Sans", sans-serif;
}
Form {
	color: whitesmoke;
}
.auth-logotext {
	margin-top: 7%;
	font-family: "Domine", serif;
	font-size: 15vw;
	background-color: #c6c6a576;
}
.auth-outer-div {
	text-align: center;
}
.auth-main-div {
	background-color: #546860c4;
	color: #acafa9;
}
.auth-form-div {
	margin: 0;
	position: absolute;
	top: 15%;
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 50%;
	-ms-transform: translateX(-50%);
	transform: translateX(-50%);
}
.auth-formtext {
	color: white;
	background-color: #546860c4;
	padding: 5px;
	border: thin solid transparent;
	border-radius: 15px;
	padding: 15px;
}
.auth-landing-logo {
	width: 100%;
	padding-top: 20vh;
}
.auth-enter-button {
	width: 30%;
	padding: 10px;
	position: relative;
	margin-top: 5%;
	background-color: #5d7484;
	color: #213847;
	font-weight: 900;
	font-size: larger;
}
.auth-btn-signup {
	background-color: #3b4747;
	color: #acafa9;
}
.auth-access-denied {
	color: #c19144;
}
